.article-summary {
  position: relative;
}

.article-summary-cover {
  display: none;
}

.article-summary-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-summary-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-self: flex-start;
}

.article-summary-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.article-summary-title {
  font-family: var(--font-titles);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.article-summary-authors {
  font-weight: 500;
  line-height: 1.5;
}

.article-summary-abstract {
  margin-inline-start: 0.75rem;
}

.article-summary-galleys {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.article-summary-galley {
  max-width: 80vw;
}

.article-summary-galley-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (--tablets) {

  .article-summary-with-cover {
    display: grid;
    grid-template-columns: var(--cover-image-width) minmax(0, 1fr);
    gap: 1.5rem;
    gap: var(--gap);

    & .article-summary-galley {
      max-width: 100%;
    }
  }

  .article-summary-cover {
    display: block;
  }

  .article-summary-abstract {
    margin-inline-start: 1.5rem;
  }
}

@media (--tablets-landscape) {

  .article-summary-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    gap: 1.5rem;
  }

  .article-summary-galleys {
    flex-direction: column;
    align-items: stretch;
  }

  .article-summary-galley {
    max-width: 20rem;
  }

  .article-summary-with-cover .article-summary-galley {
    max-width: 16rem;
  }
}

@media (--laptops) {

  .article-summary-title {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .article-summary-authors {
    font-size: 1.125rem;
  }

  .article-summary-with-cover .article-summary-galley {
    max-width: 20rem;
  }
}
