/**
 * Styles for article full text on the landing page
 *
 */
.article-section-full-text .figcaption-label {
  font-weight: 700;
}

.article-section-full-text .footnote {
  color: var(--color-page-text);
  font-size: 0.75em;
  font-weight: 500;
  vertical-align: super;
  text-decoration: none;
}

.article-section-full-text .footnotes,
.article-section-full-text .references {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.875em;
  line-height: 1.5;
}

.article-section-full-text .footnotes li,
.article-section-full-text .references li {
  list-style: none;
}

.article-section-full-text .footnotes {
  gap: 0.5em;
}

.article-section-full-text .footnotes li {
  display: grid;
  grid-template-columns: 2em auto;
  align-items: start;
}

.article-section-full-text .footnotes,
.article-section-full-text .footnotes .footnote {
  font-size: 0.875em;
  font-weight: 400;
  text-decoration: none;
}

.article-section-full-text .footnotes p {
  margin-top: 0;
}

.article-table-of-contents {
  margin-bottom: 1.5em;
}

.article-table-of-contents-title {
  @apply sr-only;
}

.article-table-of-contents ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.article-table-of-contents a {
  color: var(--color-overlay-text);
  font-weight: 700;
  text-decoration: none;
}

.article-table-of-contents a:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.article-table-of-contents li ul {
    padding-left: 1.5em;
    margin-top: 0.5em;
    gap: 0.5em;
}

.article-table-of-contents li ul a {
  font-weight: 500;
}

.article-table-of-contents-panel {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  width: 100vw;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  font-weight: 700;
  background: var(--color-overlay-background);
  color: var(--color-overlay-text);
  box-shadow: var(--overlay-shadow);
  z-index: -1;
  transform: translateY(-100%);
  transition: all 0.3s;
}


.article-table-of-contents-panel[data-show="true"] {
  z-index: 99999;
  transform: translateY(0);
}

.article-table-of-contents-button {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-overlay-background);
  color: var(--color-overlay-text);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;

  &:focus-visible {
    outline-offset: -4px !important;
  }
}

.article-table-of-contents-panel-inner {
  display: none;
  padding: 0.75rem;
  max-width: 40rem;
}

.article-table-of-contents-button[aria-expanded="true"] + .article-table-of-contents-panel-inner {
  display: block;
}

@media (--laptops-sm) {

  .article-section.article-section-full-text {
    display: grid;
    grid-template-columns: 48rem minmax(12rem, 1fr);
    align-items: start;
    gap: 2.5rem;
    width: 100%;

    > .article-section-title:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }


  .article-section-full-text-content {
    grid-row-start: 2;
  }

  .article-table-of-contents-button {
    display: none;
  }

  .article-table-of-contents-panel {
    position: sticky;
    top: 0;
    transform: none;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    min-width: 20rem;
    background: var(--color-page-background);
    color: var(--color-page-text);
    box-shadow: none;
  }

  .article-table-of-contents-panel-inner {
    display: block;
    padding: 1.5rem;
    background: var(--color-page-background);
    color: var(--color-page-text);
  }

  .article-table-of-contents-title {
    @apply not-sr-only;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-family: var(--font-titles);
  }

  .article-table-of-contents {
    font-size: 0.875rem;

    & a,
    & li ul a {
      color: var(--color-page-links);
      font-weight: 400;
    }
  }
}

@media (--laptops) {

  .article-table-of-contents-panel {
    padding-left: 8rem;
  }
}