/**
 * Remove default Bootstrap dropdown caret
 *
 * We use a custom SVG file instead.
 */

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  gap: 0.25rem;
  font-family: var(--font-actions);
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  --inline-padding: 1rem;
  padding: var(--inline-padding);
  background: var(--color-overlay-background);
  color: var(--color-overlay-text);
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--overlay-shadow);
}

.dropdown-divider {
  margin-left: calc(-1 * var(--inline-padding));
  margin-right: calc(-1 * var(--inline-padding));
  border-top-color: currentColor;
  opacity: 0.15;
}

.dropdown-item {
  color: var(--color-overlay-text);

  &:hover,
  &:focus-visible {
    background: inherit;
    color: var(--color-overlay-text);
  }
}