.footer {
  margin-top: 12rem;
}

.footer-back-to-top {
  display: flex;
  margin-bottom: 6rem;
}

.footer-back-to-top-link {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  font-family: var(--font-actions);

  & svg {
    transform: translateY(-0.25em);
  }
}

.footer-inner {
  padding: 3rem 0;
  background: var(--color-footer-background);
  color: var(--color-footer-text);

  & .link {
    color: var(--color-footer-text);
  }
}

.footer-name {
  margin-bottom: 0.5rem;
  font-family: var(--font-titles);
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-blocks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-block-masthead {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & [data-reveal-link] {
    background: var(--color-footer-background);
    color: var(--color-footer-text);
    box-shadow: 0 -2rem 2rem 2rem var(--color-footer-background);
  }
}

.footer-metadata {
  max-width: 20rem;

  & th,
  & td {
    text-align: left;
  }

  & th {
    font-weight: 700;
  }
}

.footer-links {

  & .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  & .menu-button {
    @apply link;
  }
}

.footer-block-menu .menu .menu-button-with-icon {
  margin-inline-start: calc(-1 * var(--inline-padding));
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;

  & .pkp_block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & .title {
    font-family: var(--font-titles);
    font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.25;
    }
  }

  & .pkp_screen_reader {
    @apply sr-only;
  }

  & .block_information,
  & .block_language,
  & .block_web_feed {

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
    }

    & a {
      @apply tab-focus;
    }
  }

  & .block_custom,
  & .block_developed_by {

    & a {
      @apply link;
      font-weight: 400;
      text-decoration-thickness: 1px;
    }
  }

  & .block_make_submission_link {
    @apply button;
    background: var(--color-footer-text);
    color: var(--color-footer-background);
    border-color: var(--color-footer-text);

    &:hover,
    &:focus-visible {
      outline-color: var(--color-footer-text);
    }
  }
}

.footer-btm {
  display: grid;
  grid-template-columns: 4rem minmax(0, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background: #000;
  color: #fff;

  & a:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
    text-decoration: none;
  }
}

.footer-btm-logo {
  width: 100%;
  height: auto;
}

.footer-btm-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  text-wrap: balance;
  text-align: right;

  & a {
    font-weight: 700;
    text-decoration: underline;
  }
}

@media (--tablets) {

  .footer-blocks {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .footer-block-masthead {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer-block-menu .menu .menu-button-with-icon {
    margin-inline-start: calc(-1.75rem - var(--inline-padding));
  }

  .footer-sidebar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 1.5rem;
  }

  .footer-btm {
    grid-template-columns: 6rem minmax(0, 1fr);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer-btm-text {
    font-size: 1rem;
    justify-self: end;
    max-width: 20rem;
  }
}

@media (--tablets-landscape) {

  .footer-description {
    max-width: 80%;
  }
}

@media (--laptops-sm) {

  .footer-sidebar {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
  }

  .footer-btm {
    padding: 1.5rem 3rem;
  }

  .footer-btm-text {
    max-width: none;
  }
}

@media (--laptops-lg) {

  .footer-name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}