.issue-toc,
.issue-toc-header,
.issue-toc-header-content,
.issue-toc-header-top,
.issue-toc-galleys,
.issue-toc-sections,
.issue-toc-section,
.issue-toc-articles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.issue-toc {
  --cover-image-width: 16rem;
  --gap: 1.5rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  gap: 6rem;
}

.issue-toc-with-cover {
  max-width: none;
}


.issue-toc-cover {
  max-width: var(--cover-image-width);
}

.issue-toc-header {
  gap: var(--gap);
}

.issue-toc-header-top {
  flex-direction: column;
  align-items: flex-start;
}

.issue-toc-galleys {
  gap: 0.5rem;
}

.issue-toc-vol {
  font-family: var(--font-titles);
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
}

.issue-toc-year {
  font-family: var(--font-titles);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.issue-toc-title {
  font-size: 1.125rem;
  line-height: 1.25;
}

.issue-toc-sections {
  gap: 6rem;
}

.issue-toc-section,
.issue-toc-articles {
  gap: 2rem;
}

.issue-toc-section-name {
  font-family: var(--font-titles);
}

.issue-toc-galleys {
  max-width: 90vw;
}

@media (--tablets) {

  .issue-toc-header-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .issue-toc-with-cover {

    & .issue-toc-header {
      display: grid;
      grid-template-columns: var(--cover-image-width) minmax(0, 1fr);
    }

    & .issue-toc-header-top {
      flex-direction: column;
    }

    & .issue-toc-section-name {
      margin-inline-start: calc(var(--cover-image-width) + var(--gap));
    }
  }

  .issue-toc-galleys {
    max-width: 16rem;
  }
}

@media (--laptops-sm) {

  .issue-toc-with-cover {

    & .issue-toc-header-top {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (--laptops) {

  .issue-toc-galleys {
    max-width: 20rem;
  }
}

@media (--laptops-lg) {

  .issue-toc-with-cover {
    --cover-image-width: 24rem;
    --gap: 3rem;
  }

  .issue-toc-vol {
    font-size: 3rem;
  }

  .issue-toc-year {
    font-size: 2rem;
  }

  .issue-toc-title {
    font-size: 1.25rem;
  }

  .issue-toc-metadata,
  .issue-toc-description {
    font-size: 1.125rem;
  }

  .issue-toc-section-name {
    font-size: 1.25rem;
  }
}
