/**
 * Use this utility to turn any element into a button.
 *
 * Typically used with <a> and <button> components, but can be
 * applied to any element.
 */
@layer utilities {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1.25em;
    min-height: 3rem;
    border: var(--border-width) solid var(--color-button-text);
    border-radius: var(--button-radius);
    color: var(--color-button-text);
    background: var(--color-button-background);
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    text-align: center;

    &:hover {
      outline: var(--border-width) solid var(--color-button-text);
    }

    &:focus-visible {
      @apply tab-focus;
    }

    & svg {
      flex: 0 0 1.5em;
      width: 1.5em;
      height: auto;
    }
  }
}