/**
 * Use this utility to wrap any rich text
 * content.
 *
 * Tailwind strips out all default styles. Apply this
 * class to a parent element of any HTML string to restore
 * styles to things like links, lists, blockquotes, etc.
 *
 * Example usage:
 *
 * <div class="html-text">
 *   {$currentContext->getLocalizedData('description')}
 * </div>
 */
@layer utilities {
  .html-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;

    & a {
      @apply link;
    }

    abbr {
      text-decoration: underline dotted;
      text-decoration-thickness: 2px;
    }

    p,
    ul,
    ol,
    blockquote,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5em;
      margin-bottom: 1.5em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      margin-left: 2em;
    }

    li {
      list-style: inherit;
      line-height: 1.5;

      + li {
        margin-top: 0.25em;
      }
    }

    blockquote {
      margin-left: 2em;
      line-height: 1.5;
    }

    figcaption {
      max-width: 40em;
      margin-top: 0.5em;
      font-size: 0.875em;
      line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-titles);
      line-height: 1.25;
    }

    h1 {
      font-size: 2em;
      font-weight: 900;
    }

    h2 {
      font-size: 1.5em;
      font-weight: 700;
    }

    h3 {
      font-size: 1.25em;
      font-weight: 700;
    }

    h4 {
      font-size: 1.125em;
      font-weight: 700;
    }

    h5 {
      font-size: 1.125em;
      font-style: italic;
    }

    h6 {
      font-size: 1em;
      font-style: italic;
    }
  }
}
