.login {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .input-fieldset {
    position: relative;
    padding-top: 1.5rem;
  }
}

.login-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem;
  font-family: var(--font-actions);
  font-weight: 700;
  font-size: 1.125rem;
  background: var(--color-page-background);
  color: var(--color-page-links);
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-footer-separator {
  opacity: 0.65;
}

@media (--laptops-sm) {

  .login {
    gap: 2rem;
  }
}