/**
 * Import tailwind dependencies, including a reset of
 * default browser styles.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-page-background);
  color: var(--color-page-text);
  font-family: var(--font-base);
}

html {
  scroll-behavior: smooth;
}

/**
 * Apply Tailwind's sr-only styles to the .pkp_screen_reader
 * class, which appears in several default OJS templates
 */
.pkp_screen_reader {
  @apply sr-only;
}
