/**
 * Import tailwind dependencies, including a reset of
 * default browser styles.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-page-background);
  color: var(--color-page-text);
  font-family: var(--font-base);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

@media (--laptops-sm) {

  html {
    scroll-padding-top: 20rem;
  }
}