.homepage-issue-summary {

  & .issue-summary-link:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
  }

  & .issue-summary-galleys {
    position: relative;
    z-index: 999999;
  }
}

@media (--tablets) {
  .homepage-issue-summary {

    & .issue-summary {
      flex-direction: row-reverse;
      margin-left: auto;
      margin-right: auto;
    }
  }
}