.homepage-block-latest-articles,
.homepage-block-latest-articles-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.homepage-block-latest-articles-header {
  max-width: 25rem;
}

.homepage-block-latest-articles-title {
  margin-bottom: 0.25rem;
  font-family: var(--font-titles);
  font-size: 2rem;
  font-weight: 900;
}

.homepage-block-latest-articles-description {
  font-size: 1.125rem;
  text-wrap: balance;

  & a {
    @apply link;
  }
}

@media (--tablets) {

  .homepage-block-latest-articles {
    --cover-image-width: 16rem;
    --gap: 1.5rem;
  }
}

@media (--tablets-landscape) {

  .homepage-block-latest-articles {
    max-width: 1024px;
  }

  .homepage-block-latest-articles-header {
    align-self: center;
    text-align: center;
  }

  .homepage-block-latest-articles-no-images {
    display: grid;
    grid-template-columns: 16rem minmax(0, 1fr);

    & .homepage-block-latest-articles-header {
      align-self: flex-start;
      text-align: initial;
    }
  }
}

@media (--laptops-sm) {

  .homepage-block-latest-articles-no-images {
    grid-template-columns: 22rem minmax(0, 1fr);
    gap: 6rem;
  }
}

@media (--laptops-lg) {

  .homepage-block-latest-articles {
    max-width: 1280px;
  }

  .homepage-block-latest-articles-no-images {
    grid-template-columns: 24rem minmax(0, 1fr);
    gap: 8rem;
  }

  .homepage-block-latest-articles-title {
    font-size: 3rem;
  }

  .homepage-block-latest-articles-description {
    font-size: 1.25rem;
  }
}